################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLD/Snakes and Ladder/Snakes And Ladder/.vs/Snakes And Ladder
/LLD/Snakes and Ladder/Snakes And Ladder/.github
/LLD/TicTacToe/TicTacToe/.github
/LLD/TicTacToe/TicTacToe/.vs
/LLD/TicTacToe/TicTacToe/TicTacToe/obj/Debug/net8.0
/LLD/TicTacToe/TicTacToe/TicTacToe/obj/Release/net8.0
/LLD/TicTacToe/TicTacToe/TicTacToe/obj
/LLD/LRUCache/.vs
/LLD/LRUCache/LRUCache/bin/Debug/net8.0
/LLD/LRUCache/LRUCache/obj/Debug/net8.0/ref
/LLD/LRUCache/LRUCache/obj/Debug/net8.0/refint
/LLD/LRUCache/LRUCache/obj/Debug/net8.0
/LLD/LRUCache/LRUCache/obj
/LLD/Snakes and Ladder/Snakes And Ladder/.vs/ProjectEvaluation
/LLD/LRUCache/.github
/LLD/Snakes and Ladder/Snakes And Ladder/Snakes And Ladder/obj/Release/net8.0
